DATABASE_URL=postgresql://postgres:root@localhost:5432/emcatalyst_db_stable
SECRET_KEY=dev-secret-key-for-local-testing-32ch
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480
FIRST_SUPERUSER=admin@emcure.com
FIRST_SUPERUSER_PASSWORD=Admin@123
# SMTP Configuration (leave SMTP_HOST empty to log emails instead of sending)
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=Emcure.MendixAD@emcure.com
SMTP_PASSWORD=P0s$w0rd#7654
SMTP_FROM=Emcure.MendixAD@emcure.com
FRONTEND_URL=http://localhost:5173

# Vendor OData API
VENDOR_ODATA_URL=https://mdprod-masterdata-prod.apps.emart.oneemcure.local/odata/ODataMasterService/v1/LFB1s?$expand=LFA1&$filter=%20BUKRS%20eq%20%27EPL%27%20or%20BUKRS%20eq%20%27ZHL%27%20or%20BUKRS%20eq%20%27EBT%27%20and%20LFA1/KTOKK%20eq%20%270006%27%20or%20LFA1/KTOKK%20eq%20%270007%27

# Active Directory Integration API
AD_BASE_URL=https://ad-prod-darwinsvc-prod.apps.emart.oneemcure.local/adintegratorservices/rest/v1/
